$black: #000000;
$white: #FFFFFF;

$togoRed: #D21034;
$togoYellow: #FFCE00;
$togoGreen: #006A4E;

$togoBlue: #0031FF;
$togoPink: #FF95B1;
$togoCyan: #2DEFCB;

@font-face {
    font-family: 'majormono';
    src: url('../public/MajorMonoDisplay-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'xanh';
    src: url('../public/XanhMono-Regular.ttf') format('truetype');
}