@use "sass:color";

:root {
  --main-bg-color: brown;
}


$black: #000000;
$white: #FFFFFF;

$togoRed: #D21034;
$togoYellow: #FFCE00;
$togoGreen: #006A4E;

$togoBlue: #0031FF;
$togoPink: #FF95B1;
$togoCyan: #2DEFCB;

$togoRedDimmed: color.adjust($togoRed, $lightness: -25%);
$togoGreenDimmed: color.adjust($togoGreen, $lightness: -25%);
$togoYellowDimmed: color.adjust($togoYellow, $lightness: -30%);

$togoBlueDimmed: color.adjust($togoBlue, $lightness: -10%);
$togoPinkDimmed: color.adjust($togoPink, $lightness: -10%);
$togoCyanDimmed: color.adjust($togoCyan, $lightness: -10%);


:root {
  --color-background: #{$white};
  --color-text: #{$black};
  --color-primary-1: #{$togoRed};
  --color-primary-2: #{$togoYellow};
  --color-primary-3: #{$togoGreen};
}