$black: #000000;
$white: #FFFFFF;

$togoRed: #D21034;
$togoYellow: #FFCE00;
$togoGreen: #006A4E;

@font-face {
    font-family: 'majormono';
    src: url('../../public/MajorMonoDisplay-Regular.ttf') format('truetype');
}